/* https://ui.ewgenius.me/themes/radix/jade-iris-lime-tomato */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --foreground: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --card: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --card-foreground: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --popover: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --popover-foreground: 160.00000000000003 34.09090909090909%
      17.254901960784313%;
    --primary: 81.03896103896103 75.49019607843138% 60%;
    --primary-foreground: 75 39.130434782608695% 18.03921568627451%;
    --secondary: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --secondary-foreground: 163.63636363636365 60.7361963190184%
      31.960784313725487%;
    --muted: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --muted-foreground: 163.63636363636365 60.7361963190184% 31.960784313725487%;
    --accent: 240 55.35714285714286% 56.07843137254902%;
    --accent-foreground: 0 0% 100%;
    --destructive: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --destructive-foreground: 7.868852459016397 49.59349593495935%
      24.11764705882353%;
    --border: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --input: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --ring: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --base-1: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --base-2: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --base-3: 144.7058823529412 51.51515151515156% 93.52941176470588%;
    --base-4: 148.88888888888886 49.090909090909065% 89.21568627450979%;
    --base-5: 151.57894736842107 46.34146341463413% 83.92156862745097%;
    --base-6: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --base-7: 158.50746268656715 40.60606060606061% 67.64705882352942%;
    --base-8: 163.8 42.01680672268907% 53.333333333333336%;
    --base-9: 164.26229508196718 59.80392156862745% 40%;
    --base-10: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --base-11: 163.63636363636365 60.7361963190184% 31.960784313725487%;
    --base-12: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --accent-1: 240 100% 99.6078431372549%;
    --accent-2: 240 100% 98.62745098039215%;
    --accent-3: 235.71428571428572 87.50000000000004% 96.86274509803921%;
    --accent-4: 237.6 100% 95.09803921568627%;
    --accent-5: 236.75675675675674 100% 92.74509803921569%;
    --accent-6: 237.69230769230768 100% 89.80392156862744%;
    --accent-7: 238.125 82.05128205128207% 84.70588235294117%;
    --accent-8: 237.88235294117646 73.91304347826086% 77.45098039215685%;
    --accent-9: 240 60.00000000000002% 59.80392156862745%;
    --accent-10: 240 55.35714285714286% 56.07843137254902%;
    --accent-11: 242.08695652173913 50.21834061135371% 55.09803921568628%;
    --accent-12: 237.96610169491527 43.06569343065693% 26.86274509803922%;
  }
  .dark {
    --background: 157.5 23.52941176470588% 6.666666666666667%;
    --foreground: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --card: 156 21.73913043478261% 9.019607843137255%;
    --card-foreground: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --popover: 157.5 23.52941176470588% 6.666666666666667%;
    --popover-foreground: 154.92537313432837 69.07216494845359%
      80.98039215686275%;
    --primary: 78.04195804195804 100% 71.96078431372548%;
    --primary-foreground: 75 39.130434782608695% 18.03921568627451%;
    --secondary: 156 21.73913043478261% 9.019607843137255%;
    --secondary-foreground: 163.13513513513516 74.89878542510121%
      48.431372549019606%;
    --muted: 156 21.73913043478261% 9.019607843137255%;
    --muted-foreground: 163.13513513513516 74.89878542510121%
      48.431372549019606%;
    --accent: 242.06896551724137 63.736263736263744% 64.31372549019608%;
    --accent-foreground: 0 0% 100%;
    --destructive: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --destructive-foreground: 10 85.71428571428571% 89.01960784313725%;
    --border: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --input: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --ring: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --base-1: 157.5 23.52941176470588% 6.666666666666667%;
    --base-2: 156 21.73913043478261% 9.019607843137255%;
    --base-3: 156.7741935483871 50.81967213114754% 11.960784313725489%;
    --base-4: 161.25 68.57142857142856% 13.725490196078432%;
    --base-5: 161.45454545454547 61.79775280898877% 17.45098039215686%;
    --base-6: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --base-7: 162.3529411764706 48.57142857142856% 27.450980392156865%;
    --base-8: 164.28571428571428 50.000000000000014% 32.94117647058823%;
    --base-9: 164.26229508196718 59.80392156862745% 40%;
    --base-10: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --base-11: 163.13513513513516 74.89878542510121% 48.431372549019606%;
    --base-12: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --accent-1: 240 22.44897959183674% 9.607843137254902%;
    --accent-2: 244 25.423728813559325% 11.568627450980392%;
    --accent-3: 237 38.46153846153847% 20.392156862745097%;
    --accent-4: 236.19047619047618 45.32374100719424% 27.254901960784313%;
    --accent-5: 237.3529411764706 41.463414634146346% 32.15686274509804%;
    --accent-6: 239.1304347826087 36.12565445026177% 37.450980392156865%;
    --accent-7: 240 33.6322869955157% 43.72549019607843%;
    --accent-8: 240.6741573033708 36.326530612244895% 51.96078431372548%;
    --accent-9: 240 60.00000000000002% 59.80392156862745%;
    --accent-10: 242.06896551724137 63.736263736263744% 64.31372549019608%;
    --accent-11: 245.58139534883722 100% 83.13725490196077%;
    --accent-12: 241.93548387096774 93.93939393939395% 93.52941176470588%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
