/* https://ui.ewgenius.me/themes/radix/jade-iris-lime-tomato */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9945 0.0034 174.49);
    --foreground: oklch(0.3254 0.0406 170.08);
    --card: oklch(0.9817 0.0091 161.36);
    --card-foreground: oklch(0.3254 0.0406 170.08);
    --popover: oklch(0.9945 0.0034 174.49);
    --popover-foreground: oklch(0.3254 0.0406 170.08);
    --primary: oklch(0.8588 0.1879 126.75);
    --primary-foreground: oklch(0.3537 0.0573 120.98);
    --secondary: oklch(0.9817 0.0091 161.36);
    --secondary-foreground: oklch(0.5475 0.0983 170.05);
    --muted: oklch(0.9817 0.0091 161.36);
    --muted-foreground: oklch(0.5475 0.0983 170.05);
    --accent: oklch(0.5087 0.1869 277.45);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.6035 0.1947 33.22);
    --destructive-foreground: oklch(0.3459 0.0798 30.39);
    --border: oklch(0.8595 0.0601 166.24);
    --input: oklch(0.8595 0.0601 166.24);
    --ring: oklch(0.8595 0.0601 166.24);
    --chart-1: oklch(0.6772 0.1571 35.19);
    --chart-2: oklch(0.6309 0.1013 183.49);
    --chart-3: oklch(0.3787 0.044 225.54);
    --chart-4: oklch(0.8336 0.1186 88.15);
    --chart-5: oklch(0.7834 0.1261 58.75);
    --radius: 0.5rem;
    --base-1: oklch(0.9945 0.0034 174.49);
    --base-2: oklch(0.9817 0.0091 161.36);
    --base-3: oklch(0.9608 0.0222 160.23);
    --base-4: oklch(0.9346 0.0339 163.22);
    --base-5: oklch(0.9019 0.0466 165.05);
    --base-6: oklch(0.8595 0.0601 166.24);
    --base-7: oklch(0.7997 0.0763 169.89);
    --base-8: oklch(0.7214 0.1026 173.12);
    --base-9: oklch(0.6422 0.115 170.73);
    --base-10: oklch(0.613 0.1096 170.85);
    --base-11: oklch(0.5475 0.0983 170.05);
    --base-12: oklch(0.3254 0.0406 170.08);
    --accent-1: oklch(0.9946 0.0026 286.35);
    --accent-2: oklch(0.9811 0.0093 286.23);
    --accent-3: oklch(0.9612 0.0174 282.54);
    --accent-4: oklch(0.9344 0.0324 283.85);
    --accent-5: oklch(0.9039 0.0478 282.81);
    --accent-6: oklch(0.8634 0.0692 283.05);
    --accent-7: oklch(0.8092 0.0872 282.83);
    --accent-8: oklch(0.7293 0.1182 281.44);
    --accent-9: oklch(0.5403 0.1841 278.28);
    --accent-10: oklch(0.5087 0.1869 277.45);
    --accent-11: oklch(0.5111 0.1739 279.84);
    --accent-12: oklch(0.3143 0.0988 277.56);
  }
  .dark {
    --background: oklch(0.1864 0.0135 169.78);
    --foreground: oklch(0.9027 0.0776 166.88);
    --card: oklch(0.2151 0.0165 168.2);
    --card-foreground: oklch(0.9027 0.0776 166.88);
    --popover: oklch(0.1864 0.0135 169.78);
    --popover-foreground: oklch(0.9027 0.0776 166.88);
    --primary: oklch(0.9417 0.1757 123.76);
    --primary-foreground: oklch(0.3537 0.0573 120.98);
    --secondary: oklch(0.2151 0.0165 168.2);
    --secondary-foreground: oklch(0.7852 0.1559 167.11);
    --muted: oklch(0.2151 0.0165 168.2);
    --muted-foreground: oklch(0.7852 0.1559 167.11);
    --accent: oklch(0.5868 0.1717 281.26);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.6643 0.1786 34.09);
    --destructive-foreground: oklch(0.8987 0.0465 31.23);
    --border: oklch(0.4127 0.0687 169.57);
    --input: oklch(0.4127 0.0687 169.57);
    --ring: oklch(0.4127 0.0687 169.57);
    --chart-1: oklch(0.5292 0.1931 262.13);
    --chart-2: oklch(0.6983 0.1337 165.46);
    --chart-3: oklch(0.7232 0.15 60.63);
    --chart-4: oklch(0.6192 0.2037 312.73);
    --chart-5: oklch(0.6123 0.2093 6.39);
    --base-1: oklch(0.1864 0.0135 169.78);
    --base-2: oklch(0.2151 0.0165 168.2);
    --base-3: oklch(0.2736 0.0434 165.19);
    --base-4: oklch(0.3162 0.0572 167.62);
    --base-5: oklch(0.3612 0.0639 168.17);
    --base-6: oklch(0.4127 0.0687 169.57);
    --base-7: oklch(0.4684 0.0758 170.27);
    --base-8: oklch(0.5365 0.0875 172.23);
    --base-9: oklch(0.6422 0.115 170.73);
    --base-10: oklch(0.6777 0.1256 169.57);
    --base-11: oklch(0.7852 0.1559 167.11);
    --base-12: oklch(0.9027 0.0776 166.88);
    --accent-1: oklch(0.1924 0.0221 284.13);
    --accent-2: oklch(0.2091 0.0295 286.61);
    --accent-3: oklch(0.2722 0.0694 278.46);
    --accent-4: oklch(0.3181 0.1023 275.99);
    --accent-5: oklch(0.3568 0.1095 277.31);
    --accent-6: oklch(0.4004 0.1117 279.45);
    --accent-7: oklch(0.4485 0.1199 280.42);
    --accent-8: oklch(0.5068 0.1377 280.8);
    --accent-9: oklch(0.5403 0.1841 278.28);
    --accent-10: oklch(0.5868 0.1717 281.26);
    --accent-11: oklch(0.7743 0.1215 287.46);
    --accent-12: oklch(0.914 0.042 287.02);
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
