/* https://ui.ewgenius.me/themes/radix/jade-tomato-lime */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-1: 0.9945 0.0034 174.49;
    --base-2: 0.9817 0.0091 161.36;
    --base-3: 0.9608 0.0222 160.23;
    --base-4: 0.9346 0.0339 163.22;
    --base-5: 0.9019 0.0466 165.05;
    --base-6: 0.8595 0.0601 166.24;
    --base-7: 0.7997 0.0763 169.89;
    --base-8: 0.7214 0.1026 173.12;
    --base-9: 0.6422 0.115 170.73;
    --base-10: 0.613 0.1096 170.85;
    --base-11: 0.5475 0.0983 170.05;
    --base-12: 0.3254 0.0406 170.08;
    --accent-1: 0.9934 0.0032 17.21;
    --accent-2: 0.9842 0.0076 27.23;
    --accent-3: 0.9541 0.0215 31.78;
    --accent-4: 0.9212 0.041 34.76;
    --accent-5: 0.889 0.059 32.56;
    --accent-6: 0.8532 0.077 32.63;
    --accent-7: 0.802 0.0946 32.19;
    --accent-8: 0.7409 0.1184 32.25;
    --accent-9: 0.6271 0.1936 33.34;
    --accent-10: 0.6035 0.1947 33.22;
    --accent-11: 0.5665 0.1978 32.73;
    --accent-12: 0.3459 0.0798 30.39;
    --background: 0.9945 0.0034 174.49;
    --foreground: 0.3254 0.0406 170.08;
    --card: 0.9817 0.0091 161.36;
    --card-foreground: 0.3254 0.0406 170.08;
    --popover: 0.9945 0.0034 174.49;
    --popover-foreground: 0.3254 0.0406 170.08;
    --primary: 0.8588 0.1879 126.75;
    --primary-foreground: 0.3537 0.0573 120.98;
    --secondary: 0.9817 0.0091 161.36;
    --secondary-foreground: 0.5475 0.0983 170.05;
    --muted: 0.9817 0.0091 161.36;
    --muted-foreground: 0.5475 0.0983 170.05;
    --accent: 0.6035 0.1947 33.22;
    --accent-foreground: 1 0 0;
    --destructive: 0.599 0.1947 24.04;
    --destructive-foreground: 0.339 0.1089 16.6;
    --border: 0.8595 0.0601 166.24;
    --input: 0.8595 0.0601 166.24;
    --ring: 0.8595 0.0601 166.24;
    --radius: 0.5rem;
  }
  .dark {
    --base-1: 0.1864 0.0135 169.78;
    --base-2: 0.2151 0.0165 168.2;
    --base-3: 0.2736 0.0434 165.19;
    --base-4: 0.3162 0.0572 167.62;
    --base-5: 0.3612 0.0639 168.17;
    --base-6: 0.4127 0.0687 169.57;
    --base-7: 0.4684 0.0758 170.27;
    --base-8: 0.5365 0.0875 172.23;
    --base-9: 0.6422 0.115 170.73;
    --base-10: 0.6777 0.1256 169.57;
    --base-11: 0.7852 0.1559 167.11;
    --base-12: 0.9027 0.0776 166.88;
    --accent-1: 0.1866 0.0117 18.26;
    --accent-2: 0.2078 0.017 31.43;
    --accent-3: 0.2547 0.0548 26.76;
    --accent-4: 0.2902 0.0866 27.76;
    --accent-5: 0.3311 0.0975 28.63;
    --accent-6: 0.38 0.1003 29.9;
    --accent-7: 0.4464 0.1063 31.61;
    --accent-8: 0.5381 0.1294 33.41;
    --accent-9: 0.6271 0.1936 33.34;
    --accent-10: 0.6643 0.1786 34.09;
    --accent-11: 0.7794 0.131 34.91;
    --accent-12: 0.8987 0.0465 31.23;
    --background: 0.1864 0.0135 169.78;
    --foreground: 0.9027 0.0776 166.88;
    --card: 0.2151 0.0165 168.2;
    --card-foreground: 0.9027 0.0776 166.88;
    --popover: 0.1864 0.0135 169.78;
    --popover-foreground: 0.9027 0.0776 166.88;
    --primary: 0.9417 0.1757 123.76;
    --primary-foreground: 0.3537 0.0573 120.98;
    --secondary: 0.2151 0.0165 168.2;
    --secondary-foreground: 0.7852 0.1559 167.11;
    --muted: 0.2151 0.0165 168.2;
    --muted-foreground: 0.7852 0.1559 167.11;
    --accent: 0.6643 0.1786 34.09;
    --accent-foreground: 1 0 0;
    --destructive: 0.6634 0.1774 22.85;
    --destructive-foreground: 0.9024 0.0527 6.45;
    --border: 0.4127 0.0687 169.57;
    --input: 0.4127 0.0687 169.57;
    --ring: 0.4127 0.0687 169.57;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
