/* https://ui.ewgenius.me/themes/radix/jade-tomato-lime */
@layer base {
  :root {
    --base-1: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --base-2: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --base-3: 144.7058823529412 51.51515151515156% 93.52941176470588%;
    --base-4: 148.88888888888886 49.090909090909065% 89.21568627450979%;
    --base-5: 151.57894736842107 46.34146341463413% 83.92156862745097%;
    --base-6: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --base-7: 158.50746268656715 40.60606060606061% 67.64705882352942%;
    --base-8: 163.8 42.01680672268907% 53.333333333333336%;
    --base-9: 164.26229508196718 59.80392156862745% 40%;
    --base-10: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --base-11: 163.63636363636365 60.7361963190184% 31.960784313725487%;
    --base-12: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --accent-1: 0 100% 99.41176470588235%;
    --accent-2: 7.499999999999973 100% 98.43137254901961%;
    --accent-3: 10.434782608695613 92.00000000000003% 95.09803921568627%;
    --accent-4: 12.272727272727302 100% 91.37254901960785%;
    --accent-5: 10.819672131147556 100% 88.0392156862745%;
    --accent-6: 10.769230769230774 95.12195121951221% 83.92156862745098%;
    --accent-7: 10.32258064516129 82.30088495575224% 77.84313725490196%;
    --accent-8: 10.08849557522124 74.83443708609273% 70.3921568627451%;
    --accent-9: 10.163934426229506 77.8723404255319% 53.92156862745098%;
    --accent-10: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --accent-11: 9.893617021276597 81.73913043478261% 45.09803921568628%;
    --accent-12: 7.868852459016397 49.59349593495935% 24.11764705882353%;
    --background: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --foreground: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --card: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --card-foreground: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --popover: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --popover-foreground: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --primary: 81.03896103896103 75.49019607843138% 60%;
    --primary-foreground: 75 39.130434782608695% 18.03921568627451%;
    --secondary: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --secondary-foreground: 163.63636363636365 60.7361963190184% 31.960784313725487%;
    --muted: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --muted-foreground: 163.63636363636365 60.7361963190184% 31.960784313725487%;
    --accent: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
    --border: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --input: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --ring: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --radius: 0.5rem
  }
  .dark {
    --base-1: 157.5 23.52941176470588% 6.666666666666667%;
    --base-2: 156 21.73913043478261% 9.019607843137255%;
    --base-3: 156.7741935483871 50.81967213114754% 11.960784313725489%;
    --base-4: 161.25 68.57142857142856% 13.725490196078432%;
    --base-5: 161.45454545454547 61.79775280898877% 17.45098039215686%;
    --base-6: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --base-7: 162.3529411764706 48.57142857142856% 27.450980392156865%;
    --base-8: 164.28571428571428 50.000000000000014% 32.94117647058823%;
    --base-9: 164.26229508196718 59.80392156862745% 40%;
    --base-10: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --base-11: 163.13513513513516 74.89878542510121% 48.431372549019606%;
    --base-12: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --accent-1: 0 17.073170731707318% 8.03921568627451%;
    --accent-2: 10 24% 9.803921568627452%;
    --accent-3: 4.864864864864864 48.05194805194805% 15.098039215686276%;
    --accent-4: 3.934426229508196 64.21052631578948% 18.627450980392158%;
    --accent-5: 5 62.06896551724137% 22.745098039215687%;
    --accent-6: 6.923076923076925 54.929577464788736% 27.84313725490196%;
    --accent-7: 8.863636363636362 49.43820224719101% 34.90196078431373%;
    --accent-8: 10.434782608695647 50.21834061135372% 44.90196078431373%;
    --accent-9: 10.163934426229506 77.8723404255319% 53.92156862745098%;
    --accent-10: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --accent-11: 12.000000000000004 100% 74.50980392156863%;
    --accent-12: 10 85.71428571428571% 89.01960784313725%;
    --background: 157.5 23.52941176470588% 6.666666666666667%;
    --foreground: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --card: 156 21.73913043478261% 9.019607843137255%;
    --card-foreground: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --popover: 157.5 23.52941176470588% 6.666666666666667%;
    --popover-foreground: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --primary: 78.04195804195804 100% 71.96078431372548%;
    --primary-foreground: 75 39.130434782608695% 18.03921568627451%;
    --secondary: 156 21.73913043478261% 9.019607843137255%;
    --secondary-foreground: 163.13513513513516 74.89878542510121% 48.431372549019606%;
    --muted: 156 21.73913043478261% 9.019607843137255%;
    --muted-foreground: 163.13513513513516 74.89878542510121% 48.431372549019606%;
    --accent: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --input: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --ring: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --radius: 0.5rem
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}